#title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.clock_design {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  color: black;
  font-size: 40px;
}

.clock_design :focus,
.clock_design :hover {
  
}

.title_design {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
}

.title_design h1 {
  color: black;
  font-size: 45px;
}

.title_design :hover,
.title_design :focus {
  animation: titleAnim 3s ease-in-out;
}



#weather {
  color: black;
  font-size: 20px;
}

@keyframes titleAnim {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
    color: rgb(253, 250, 243);
  }
}